.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 70%;
}

.custom__button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-family: var(--secondary-text);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p-text {
  font-family: var(--primary-text);
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.head-text {
  font-family: var(--secondary-text);
  color: var(--secondary-color);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p-text {
    font-size: 37px;
    line-height: 67px;
  }

  .p-text {
    font-size: 30px;
    line-height: 50px;
  }

  .head-text {
    font-size: 150px;
    line-height: 210px;
  }

}
.slide__down {
  animation: slideDown 1s ease-in-out 0s 1 normal forwards;
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p-text {
    font-size: 21px;
  }

  .p-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p-text {
    font-size: 12px;
  }

  .p-text {
    font-size: 19px;
  }

  .head-text {
    font-size: 45px;
    line-height: 70px;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
