@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');
:root {
  --light-blue: #9fbae121;
  --secondary-color: #42c2ff;
  --text-color: #171717;
  --white-color: #ffffff;
  --secondary-text: 'Playfair Display', serif;
  --primary-text: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
